<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <!-- Optional theme -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  <title>Bar Chart</title>
</head>
<body>

  <div class="container" style="text-align: center; font-family: Cooper Black; color: blue; text-decoration: underline;">

  <h1>Expenses / Income Bar Chart</h1>
</div>
    <br>

  <div id="container" style="margin: 0 auto"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">

    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${finance}]],
            crosshair: true
        },
        yAxis: {
            min: -1000,
            max:1500,
            title: {
                text: '<span style="font-size:12px padding:0">Expenses / Income</span>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
            '<td style="padding:0"><b>{point.y:.1f} Euro</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true

        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: ' ',
            data: [[${amount}]]
        }]
      });
    });
</script>


  <div style="display: flex; justify-content: space-around;">
    <div style="text-align: center; font-family: Cooper Black;">
      <a href="/zobraz-vsetky-zaznamy">Income / Expense Table</a>
    </div>

    <div style="text-align: center; font-family: Cooper Black;">
      <a href="/dynamic-chart">Income / Expense Dynamic Chart</a>
    </div>
  </div>

  <br>

  <div style="text-align: center; font-family: Cooper Black;">
    <a th:href="@{/}">Homepage</a>
  </div>

</body>
</html>
