<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">

    <title>Finance Tracker APP</title>

</head>
<body>

   <h1>
       <b><div style="text-align: center; font-family: Cooper Black; color: blue; text-decoration: underline; font-size: 37px">Finance Tracker App</div></b>
   </h1>
   <br>
   <h3>
       <div style="text-align: center; font-family: Cooper Black; color: red;">by Mathias</div>
   </h3>

<br>
   <h4>
       <a href="/pridaj-novy-zaznam">
           <div style="text-align: center; font-family: Cooper Black">Add New Income / Expense</div>
       </a>
<br>
       <a href="/zobraz-vsetky-zaznamy">
           <div style="text-align: center; font-family: Cooper Black">Income / Expenses Table</div></a>
<br>
       <a href="/bar-chart">
           <div style="text-align: center; font-family: Cooper Black">Income / Expense Bar Chart</div>
       </a>

<br>
       <a href="/dynamic-chart">
           <div style="text-align: center; font-family: Cooper Black">Income / Expense Dynamic Chart</div>
       </a>

   </h4>


</body>
</html>


